/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
    z-index:2;
}

/* ROOT FONT STYLES */

* {
  font-family: "Lato", Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

/* TK style map inside iframe */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height:100%;
}

#console {
  position: absolute;
  margin-top: 10px;
  margin-left:20px;
  text-align: center;
}
#genreTitle, #tagTitle{
  min-width: 100px;
  padding: 10px;
  font-size: 1rem;
    color:#2e106a;
  background-color: white;
}
/*tk styling of text in the popup */
.popupText h4,h6,p{
  padding-top: 5px;
  padding-bottom:5px;
  margin-top: 0;
  margin-bottom:0;
  line-height: 1.2;
}
.popupText p{
  font-size: .8rem;
}
/*tk end of popup text styling */
ul{
list-style: none;
margin: 0;
padding:0;
}

ul li{
display:inline-block;
position: relative;


    }
ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      display: none;
    }

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #cccee1;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  margin-bottom: 5px;
}

ul li ul li:hover{
background-color:#9c9ead;
}

input[type="radio"]{
  /* TK using opacity rather than visibility because it's more accessible to keyboard users */
  opacity:0;
  position: fixed;
  border:0px;
  width:100%;
  height:2em;
}
-
.mapboxgl-popup-content {
  background-color: #cccee1;
  color:#2e106a;
max-height:250px;
  margin: 0;
  padding:15px;
}
/* TK abbreviated popup tip styling from https://stackoverflow.com/questions/44554692/style-a-mapbox-popups-pointer-indicator*/
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #cccee1;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #cccee1;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #cccee1;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #cccee1;
    }
    /* TK end copy */
/* TK end custom css */
@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}


@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
